<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DatabaseServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mmtprojects4.mmt.herts.ac.uk/mmt13-220svc/DatabaseService.asmx"
                binding="basicHttpBinding" bindingConfiguration="DatabaseServiceSoap"
                contract="service.DatabaseServiceSoap" name="DatabaseServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>