<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VehicleServiceSoap" />
        <binding name="DatabaseServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sash.herts.ac.uk/vhs/VehicleService.asmx"
        binding="basicHttpBinding" bindingConfiguration="VehicleServiceSoap"
        contract="vhs.VehicleServiceSoap" name="VehicleServiceSoap" />
      <endpoint address="http://mmtprojects4.mmt.herts.ac.uk/mmt13-220svc/DatabaseService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DatabaseServiceSoap"
        contract="CameraService.DatabaseServiceSoap" name="DatabaseServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>